.btn {
  position: relative;
  background: transparent;
  outline: none;
  color: white;
  background: hsl(176, 50%, 47%);
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  user-select: none;
}
.btn:hover {
  background: hsl(176, 50%, 37%);
}
.small {
  padding: 15px 20px;
  font-size: 14px;
}
.big {
  padding: 18px 40px;
}
.bookmark {
  color: black;
  background: rgb(235, 235, 235);
  padding: 18px;
}
.bookmark:hover {
  background: rgb(221, 221, 221);
}
.bookmark span {
  margin-left: 50px;
  margin-right: 10px;
}
.bookmark img {
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 600px) {
  .bookmark {
    padding: 0px;
    border-radius: 50%;
  }
  .bookmark span {
    display: none;
  }
  .bookmark img {
    position: relative;
    top: 1.2px;
  }
}
