@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Commissioner", sans-serif;
  list-style: none;
  text-decoration: none;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
html {
  font-size: 16px;
}
h1 {
  font-size: 1.8rem;
}
body {
  background-color: #fafafa;
}
button {
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}
button:disabled {
  opacity: 0.6;
  cursor: default;
}
button:focus,
a:focus {
  outline: dashed 3px hsl(176, 52%, 44%);
}
