.logo {
  position: absolute;
  display: block;
  top: -28px;
  left: 0;
  right: 0;
  margin: auto;
}
.btns_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .btns_container {
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
  }
  .btns_container button:last-child {
    margin-bottom: 20px;
  }
}
