.logo {
  position: absolute;
  display: block;
  top: -28px;
  left: 0;
  right: 0;
  margin: auto;
}
.btns_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
