.menu {
  position: absolute;
  width: 90%;
  background: white;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  animation: opacityAnimation 300ms;
  z-index: 10;
}
.menu li a {
  display: block;
  padding: 20px;
  border-bottom: solid 1px hsl(0, 0%, 89%);
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.menu li:last-child a {
  border: none;
}
.backdrop {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  animation: opacityAnimation 300ms;
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 700px) {
  .menu,
  .backdrop {
    display: none;
  }
}
