.option {
  position: relative;
  border: solid silver 1px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
}
.option.disabled {
  opacity: 0.4;
  user-select: none;
}
.option_info {
  display: flex;
  align-items: center;
}
.radioBtn {
  border: solid silver 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
  margin-right: 15px;
}
.radioBtn.active .circle {
  display: block;
}
.circle {
  display: none;
  width: 100%;
  height: 100%;
  background: hsl(176, 50%, 47%);
  border-radius: 50%;
}
.option_info span {
  color: hsl(176, 50%, 47%);
  font-weight: 700;
}
.option_items_left {
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.option_items_left small {
  font-size: initial;
  font-weight: 400;
  color: rgb(102, 102, 102);
  margin-left: 10px;
}
.option_pledge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 0 15px;
  border-top: solid silver 1px;
  margin-top: 20px;
  color: rgb(102, 102, 102);
}
.option_pledge_container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.input {
  border: solid silver 1px;
  border-radius: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  max-width: 125px;
  color: grey;
  margin-right: 10px;
  font-weight: 700;
}
.input input {
  border: none;
  background: transparent;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 10px;
  color: #222;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .option_items_left {
    position: absolute;
    top: 18px;
    right: 20px;
    margin-top: 0px;
  }
  .option_info {
    flex-direction: row;
    align-items: center;
  }
  .option_info span {
    margin-top: 0;
    margin-left: 15px;
  }
  .option_info_container {
    display: flex;
    align-items: center;
  }
  .option_pledge {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 0 0;
  }
  .option_pledge_container {
    margin: 0;
  }
}
