.stats_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat {
  padding: 30px;
  display: flex;
  width: 200px;
  flex-direction: column;
  border-bottom: solid #dbdbdb 1px;
}
.stat:last-child {
  border: none;
}
.stat span {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
}
.stat small {
  color: rgb(102, 102, 102);
}

@media screen and (min-width: 800px) {
  .stats_container {
    flex-direction: row;
  }
  .stat {
    border-bottom: none;
    border-right: solid #dbdbdb 1px;
    width: 100%;
  }
}
